<!DOCTYPE html>
<html>
<head>
    <title>Trade Activity Report</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            text-align: left;
            padding: 8px;
            white-space: nowrap;  /* Disable text wrapping */
        }
        th {
            background-color: #d3d3d3;
        }
        .buy {
            background-color: green;
            color: white;
        }
        .sell {
            background-color: red;
            color: white;
        }
        .buy a {
            color: white;
        }
        .sell a {
            color: white;
        }
        .sell-green {
            background-color: green;
            color: white;
        }
        .sell-red {
            background-color: red;
            color: white;
        }
        .sell-lightgrey {
            background-color: lightgrey;
            color: black;
        }
        .indicator {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-left: 5px;
        }
        .tab-content {
            display: none;
        }
        .tab-buttons, .nested-tab-buttons {
            display: flex;
            margin-bottom: 10px;
        }
        .tab-buttons button, .nested-tab-buttons button {
            padding: 10px;
            cursor: pointer;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            margin-right: 5px;
        }
        .tab-buttons button.active, .nested-tab-buttons button.active {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <div class="tab-buttons">
        <button class="tablink" onclick="openTab(event, 'activity-Report')">Activity Report</button>
        <button class="tablink" onclick="openTab(event, 'working-orders-Report')">Working Orders Report</button>
        <button class="tablink" onclick="openTab(event, 'hot-pics-Report')">Hot Picks Report</button>
    </div>

    <div id="activity-Report" class="tab-content">
        <h1>Trade Activity Report</h1>
        <h2>Filename: {{ filename }}</h2>
        <table>
            <thead>
                <tr>
                    {% for header in headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in Report %}
                    <tr class="{{ row[0]|lower }}">
                        {% for cell in row %}
                            <td>{{ cell|safe }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="working-orders-Report" class="tab-content">
        <h2>Working Sell Orders</h2>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Quantity</th>
                    <th>Order Info</th>
                    <th>Mark</th>
                    <th>Target Price Differential</th>
                    <th>Last Differential</th> <!-- New column for last differential -->
                </tr>
            </thead>
            <tbody>
                {% for order in working_orders %}
                    <tr class="sell-{{ order[-2] }}">
                        <td><span class="indicator" style="background-color: {{ order[-1] }};"></span> {{ order[0] }}</td>
                        <td>{{ order[1]|safe }}</td>
                        <td>{{ order[2]|safe }}</td>
                        <td>{{ order[3]|safe }}</td>
                        <td>{{ order[4]|safe }}</td>
                        <td>{{ order[5]|safe }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="hot-pics-Report" class="tab-content">
        <h2>Hot Picks</h2>
        <div class="nested-tab-buttons">
            <button class="nested-tablink" onclick="openNestedTab(event, 'sell-Report')">Stop Trading</button>
            <button class="nested-tablink" onclick="openNestedTab(event, 'buy-Report')">Start Trading</button>
            <button class="nested-tablink" onclick="openNestedTab(event, 'hold-Report')">Continue Trading</button>
        </div>

        <div id="sell-Report" class="nested-tab-content">
            <h3>Stop Trading</h3>
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>1Mo 5Mi Data</th>
                        <th>Overall Trend Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for symbol in hot_picks.sell_symbols %}
                        <tr class="sell">
                            <td><a href="https://finance.yahoo.com/quote/{{ symbol }}/chart" target="_blank">{{ symbol }}</a></td>
                            <td>
                                {% for key, value in sell_details[symbol]['1Mo_5Mi'].items() %}
                                    <strong>{{ key }}:</strong> {{ value }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for key, value in sell_details[symbol]['Overall_Trend'].items() %}
                                    <strong>{{ key }}:</strong> {{ value }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="buy-Report" class="nested-tab-content">
            <h3>Start Trading</h3>
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>1Mo 5Mi Data</th>
                        <th>Overall Trend Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for symbol in hot_picks.buy_symbols %}
                        <tr class="buy">
                            <td><a href="https://finance.yahoo.com/quote/{{ symbol }}/chart" target="_blank">{{ symbol }}</a></td>
                            <td>
                                {% for key, value in buy_details[symbol]['1Mo_5Mi'].items() %}
                                    <strong>{{ key }}:</strong> {{ value }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for key, value in buy_details[symbol]['Overall_Trend'].items() %}
                                    <strong>{{ key }}:</strong> {{ value }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="hold-Report" class="nested-tab-content">
            <h3>Continue Trading</h3>
            <table>
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>1Mo 5Mi Data</th>
                        <th>Overall Trend Data</th>
                    </tr>
                </thead>
                <tbody>
                    {% for symbol in hot_picks.hold_symbols %}
                        <tr class="buy">
                            <td><a href="https://finance.yahoo.com/quote/{{ symbol }}/chart" target="_blank">{{ symbol }}</a></td>
                            <td>
                                {% for key, value in hold_details[symbol]['1Mo_5Mi'].items() %}
                                    <strong>{{ key }}:</strong> {{ value }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                {% for key, value in hold_details[symbol]['Overall_Trend'].items() %}
                                    <strong>{{ key }}:</strong> {{ value }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            updateLocationParam(tabName, null);
        }

        function openNestedTab(evt, nestedTabName) {
            var i, nestedTabcontent, nestedTablinks;
            nestedTabcontent = document.getElementsByClassName("nested-tab-content");
            for (i = 0; i < nestedTabcontent.length; i++) {
                nestedTabcontent[i].style.display = "none";
            }
            nestedTablinks = document.getElementsByClassName("nested-tablink");
            for (i = 0; i < nestedTablinks.length; i++) {
                nestedTablinks[i].className = nestedTablinks[i].className.replace(" active", "");
            }
            document.getElementById(nestedTabName).style.display = "block";
            evt.currentTarget.className += " active";
            updateLocationParam(null, nestedTabName);
        }

        function updateLocationParam(mainTab, subTab) {
            const url = new URL(window.location);
            const locationParam = url.searchParams.get('location');
            let locationArray = locationParam ? locationParam.split(',') : [];

            if (mainTab) {
                locationArray[0] = mainTab;
            }

            if (subTab) {
                locationArray[1] = subTab;
            }

            url.searchParams.set('location', locationArray.join(','));
            window.history.replaceState({}, '', url);
        }

        function setInitialTab() {
            const urlParams = new URLSearchParams(window.location.search);
            const locationParam = urlParams.get('location');
            if (locationParam) {
                const locationArray = locationParam.split(',');
                if (locationArray[0]) {
                    document.getElementById(locationArray[0]).style.display = "block";
                    var tabButton = document.querySelector(`.tablink[onclick*="${locationArray[0]}"]`);
                    if (tabButton) {
                        tabButton.className += " active";
                    }
                }
                if (locationArray[0] === 'hot-pics-Report') {
                    if (!locationArray[1]) locationArray[1] = 'sell-Report';
                    document.querySelectorAll('.nested-tab-content').forEach(el => el.style.display = "none");
                    document.getElementById(locationArray[1]).style.display = "block";
                    var nestedTabButton = document.querySelector(`.nested-tablink[onclick*="${locationArray[1]}"]`);
                    if (nestedTabButton) {
                        nestedTabButton.className += " active";
                    }
                }
            } else {
                document.getElementsByClassName("tablink")[0].click();
                document.getElementsByClassName("nested-tablink")[0].click();
            }
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            setInitialTab();
        });
    </script>
</body>
</html>

